body {
  display: flex;
  margin: 0;
}

.left {
  width: 27.5%;
  height: 100vh;
  background: #071319;
  justify-items: center;
}

.sound {
  position: relative;
  left: 40%;
  margin-top: 17%;
  margin-bottom: 20%;
  border: none;
  background: #071319;
  cursor: pointer;
}

.timer {
  position: relative;
  left: 40%;
  width: 100px;
  height: 100px;
  border: 10px solid #e1a02e;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
}

.circle1 {
  position: absolute;
  top: -10px;
  left: -10px;
  background: #e1a02e;
  width: 60px;
  height: 120px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  transform-origin: right center;
  z-index: 5;
}
.circle2 {
  background: #071319;
  position: absolute;
  top: -10px;
  left: 50px;
  width: 80px;
  height: 125px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  transform-origin: left center;
  transform: rotate(-180deg);
  z-index: 1;
}

.circle3 {
  background: #071319;
  position: absolute;
  width: 100px;
  border-radius: 50%;
  height: 100px;
  z-index: 10;
}
.circle4 {
  background: #071319;
  position: absolute;
  top: -10px;
  left: 50px;
  width: 70px;
  height: 130px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  transform-origin: left center;
  transform: rotate(-180deg);
  z-index: 0;
}

.time {
  position: relative;
  top: 20%;
  left: -2%;
  font-size: 48px;
  line-height: 58px;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  z-index: 11;
}

.mid {
  width: 45%;
  height: 100vh;
  background: #071319;
  text-align: center;
  justify-content: center;
}

.life-rings {
  display: flex;
  margin: 10% 20% 0% 20%;
  justify-content: space-around;

  &__option {
    border: 1px solid #e1a02e;
    border-radius: 50px;
    width: 100px;
    height: 60px;
    padding: 8px;
    background: radial-gradient(50% 50% at 50% 50%, #050351 0%, rgba(5, 3, 81, 0) 100%);
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    color: #e1a02e;
  }
}

.logo {
  max-width: 100%;
  height: 45%;
}
.question {
  margin-bottom: 45px;
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.answers {
  flex-wrap: wrap;
  display: flex;
  text-align: justify;
  justify-content: space-between;

  &__option {
    margin-bottom: 15px;
    border: 1px solid #e1a02e;
    width: 47%;
    height: 50px;
    border-radius: 50px;
    background: radial-gradient(50% 50% at 50% 50%, #050351 0%, rgba(5, 3, 81, 0) 100%);
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    color: white;
  }
}

.index {
  color: #e1a02e;
  pointer-events: none;
}

.button:hover {
  background: #e1a02e;
  color: black;
  .index {
    color: white;
  }
}

.right {
  width: 27.5%;
  height: 100vh;
  padding-left: 30px;
  background: #071319;
}

.price-list {
  margin-top: 15%;
  &__item {
    font-size: 18px;
    line-height: 22px;
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    color: #e1a02e;

    &--5,
    &--10,
    &--15 {
      color: #ffffff;
    }
  }
}

.previousQuestion {
  color: green;
  padding: 0px;
  background-color: #071319;
  border-radius: 0px;
  width: "fit-content";
  font-family: "Inter";
}
